@font-face {
  font-family: "montserrat";
  src: local("font-montserrat"),
    url("../src/assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000;
  color: #ffffff;
}

@import "tailwindcss";

@theme {
  --font-montserrat: font-montserrat, "sans-serif";
}
